<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="Keywords" content="" />
	<title>活动介绍</title>
</head>
<body>
<%= require('html-loader!./include/header.html') %>
<div class="main active" id="description">
	<div class="title">
		<h6></h6>
		<h3>ACTIVITY INTRODUCTION</h3>
		<h4>活动简介</h4>
	</div>
	<div class="main-cont">
		<i></i><i></i>
		<dl>
			<dt>
				<p>长江，我们伟大的母亲河，一江清水绵延几千公里，从姜根迪如冰川的绵绵细流，穿越九省两市，到崇明岛浩荡入海，中间连起的是亘古不变的乡情。滚滚长江水，见证了国运兴衰和时代变迁。</p>
				<p>这次我们用脚步去见证母亲河的雄伟壮丽。用脚下的每一步，记录母亲河沿线的无限风情。</p>
				<p>全程6007.32公里，共分246个路段，每段长24.42公里，全程无休，24小时滚动接力跑。</p>
				<a href="#"><i>Read More</i></a>
			</dt>
			<dd><img src="resource/img/205_440.jpg"></dd>
			<dd><img src="resource/img/205_440.jpg"></dd>
			<dd><img src="resource/img/205_440.jpg"></dd>
		</dl>
	</div>
</div>
<div class="main video" id="video">
	<div class="title">
		<h6></h6>
		<h3>Video display</h3>
		<h4>视频展示</h4>
	</div>
	<div class="main-cont">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-center none-effect">
					<div class="player">
						<span class="playBtn"></span>
						<div class="video-ui">
							<div class="control paused"></div>
							<div class="ui-meun">
								<div class="progressBar"><div class="timeBar"></div></div>
								<div class="play-time">00:00</div>
								<a class="muted"><i></i></a>
							</div>
						</div>
						<video poster="resource/img/818_520.jpg" src="http://dv.browser.360.cn/Object.access/upload4cutter/NDU5ZDRkYjE1NzRhYTYwZDU3NjFhZjY4Y2IwMDhjZTUv5b6u5L-h572R6aG154mILm1wNA==" onplay="onVideoPlay(this)" onpause="onVideoPause(this)" onended="onVideoEnded(this)" preload="none"></video>
						<p class="video-loading"></p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="player">
						<span class="playBtn"></span>
						<div class="video-ui">
							<div class="control paused"></div>
							<div class="ui-meun">
								<div class="progressBar"><div class="timeBar"></div></div>
								<div class="play-time">00:00</div>
								<a class="muted"><i></i></a>
							</div>
						</div>
						<video poster="resource/img/818_520.jpg" src="http://dv.browser.360.cn/Object.access/upload4cutter/NDU5ZDRkYjE1NzRhYTYwZDU3NjFhZjY4Y2IwMDhjZTUv5b6u5L-h572R6aG154mILm1wNA==" onplay="onVideoPlay(this)" onpause="onVideoPause(this)" onended="onVideoEnded(this)" preload="none"></video>
						<p class="video-loading"></p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="player">
						<span class="playBtn"></span>
						<div class="video-ui">
							<div class="control paused"></div>
							<div class="ui-meun">
								<div class="progressBar"><div class="timeBar"></div></div>
								<div class="play-time">00:00</div>
								<a class="muted"><i></i></a>
							</div>
						</div>
						<video poster="resource/img/818_520.jpg" src="http://dv.browser.360.cn/Object.access/upload4cutter/NDU5ZDRkYjE1NzRhYTYwZDU3NjFhZjY4Y2IwMDhjZTUv5b6u5L-h572R6aG154mILm1wNA==" onplay="onVideoPlay(this)" onpause="onVideoPause(this)" onended="onVideoEnded(this)" preload="none"></video>
						<p class="video-loading"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="button s-button-prev">prev</div>
		<div class="button s-button-next">next</div>
	</div>
</div>
<div class="main challenger" id="challenger">
	<div class="title">
		<h6></h6>
	</div>
	<div class="main-cont">
		<div class="fl">
			<img src="resource/img/525_525.jpg">
			<dl>
				<dt>张会</dt>
				<dd>跑龄3年 <br />最长跑步距离20公里 <br />参加马拉松比赛及成绩（无）</dd>
			</dl>
		</div>
		<div class="fr">
			<dl class="dl-title">
				<dt>CHALLENGERS’</dt>
				<dd>introduction<i>挑战者介绍</i></dd>
			</dl>
			<p>跑步宣言：将跑步进行到底，胜利属于你！（退役前很不喜欢跑步，退役后因体力下降偶尔跑步锻炼，结识了很多朋友，突然觉得跑步不仅可以使我身体健康，还可以解决生活的压力。生活离不开运动，坚持是意志，是生存的意义，继续坚持下去，你会愈来愈体会到跑步的乐趣 ！）</p>
			<dl class="dl-more">
				<dt>挑战者</dt>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
				<dd><a href="#"><img src="resource/img/70_100.jpg"></a></dd>
			</dl>
		</div>
	</div>
</div>
<div class="main news-hot" id="hotspot">
	<div class="title">
		<h6></h6>
		<h3>News hotspot</h3>
		<h4>新闻热点</h4>
	</div>
	<div class="main-cont">
		<ul>
			<li>
				<p>2018-02-12</p>
				<dl>
					<dt>“科学跑步、健康人生”奥森公园10公里拉练赛</dt>
					<dd>跑团活动发起者对活动进行组织协调，但活动性质属于自愿参加、风险自担、责任自负，参与者均应为</dd>
				</dl>
				<a href="#">Read More</a>
			</li>
			<li>
				<p>2018-02-12</p>
				<dl>
					<dt>“科学跑步、健康人生”奥森公园10公里拉练赛</dt>
					<dd>跑团活动发起者对活动进行组织协调，但活动性质属于自愿参加、风险自担、责任自负，参与者均应为跑团活动发起者对活动进行组织协调，但活动性质属于自愿参加、风险自担、责任自负，参与者均应为</dd>
				</dl>
				<a href="#">Read More</a>
			</li>
			<li>
				<p>2018-02-12</p>
				<dl>
					<dt>“科学跑步、健康人生”奥森公园10公里拉练赛</dt>
					<dd>跑团活动发起者对活动进行组织协调，但活动性质属于自愿参加、风险自担、责任自负，参与者均应为</dd>
				</dl>
				<a href="#">Read More</a>
			</li>
			<li>
				<p>2018-02-12</p>
				<dl>
					<dt>“科学跑步、健康人生”奥森公园10公里拉练赛</dt>
					<dd>跑团活动发起者对活动进行组织协调，但活动性质属于自愿参加、风险自担、责任自负，参与者均应为</dd>
				</dl>
				<a href="#">Read More</a>
			</li>
		</ul>
	</div>
	<div id="example" class="example">
		<ul id="pageLimit"></ul>
	</div>
</div>
<div class="main photo" id="photo">
	<div class="title">
		<h6></h6>
		<h3>Photo download</h3>
		<h4>照片下载</h4>
	</div>
	<div class="main-cont">
		<div class="excellent">			
			<ul>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
				<li>
					<img src="resource/img/340_340.jpg">
					<a href="#"></a>
				</li>
			</ul>		
		</div>
		<div class="btn-an">
			<span class="btn-pre"><i class="glyphicon glyphicon-arrow-left"></i></span>
			<span class="btn-next"><i class="glyphicon glyphicon-arrow-right"></i></span>
			<a href="#"><i>Read More</i></a>
		</div>
		<!-- <div class="down">
			<a href="#">点击下载“爱运动”拍摄的照片<i class="glyphicon glyphicon-download-alt"></i></a>
		</div> -->
	</div>
</div>
<%= require('html-loader!./include/footer.html') %>
</body>
</html>