@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup, i {
  font-style: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0 !important; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none; }

/* to enable resizing for IE */
input, textarea, select {
  *font-size: 100%; }

/* because legend doesn't inherit in IE */
legend {
  color: #000; }

/* HTML5 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* 公共字体 */
body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  font-size: 12px;
  color: #666; }

a {
  color: #666;
  text-decoration: none;
  cursor: pointer; }

/* 清除浮动 */
.clearfix, .content .content-wrapper ul.step, .content .content-wrapper .right-title, .form-inline, .newly-added .row {
  zoom: 1; }

.clearfix:after, .content .content-wrapper ul.step:after, .content .content-wrapper .right-title:after, .form-inline:after, .newly-added .row:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.p0, .header .container-fluid {
  padding: 0 !important; }

.m0 {
  margin: 0 !important; }

.mt10 {
  margin-top: 10px !important; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px; }

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 6px; }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #cecece; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #cecece; }

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, 0.8); }

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #edf2f6 !important;
  font-family: "\5FAE\8F6F\96C5\9ED1" !important; }

html, body {
  width: 100%;
  height: 100%; }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.header {
  width: 100%;
  height: 50px;
  background-color: #75b9e6;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }
  .header.header-fixed {
    position: fixed; }

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 210px;
  z-index: 810;
  background-color: #222d32; }

.main-sidebar .header {
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff !important; }

.table {
  margin: 0; }

.content {
  margin-left: 210px;
  height: 100%; }
  .content .content-wrapper {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    float: left;
    position: relative; }
    .content .content-wrapper > h3 {
      background-image: url(../img/logo.jpg);
      background-repeat: no-repeat;
      background-position: 30px 10px;
      width: 100%;
      height: 70px;
      font-size: 0;
      padding-top: 10px;
      background-color: #fff; }
    .content .content-wrapper .search .row {
      background-color: #fff;
      padding: 20px 0;
      border-top: 1px solid #ccc;
      margin: 0; }
      .content .content-wrapper .search .row button {
        position: relative;
        margin-left: 15px; }
      .content .content-wrapper .search .row .dropdown-menu {
        min-width: 50px;
        margin-left: 15px; }
      .content .content-wrapper .search .row .input-group, .content .content-wrapper .search .row .input-group input {
        width: 100% !important; }
    .content .content-wrapper table {
      padding: 10px;
      background: #fff; }
      .content .content-wrapper table table, .content .content-wrapper table th, .content .content-wrapper table td {
        text-align: center;
        color: #A3AFC1;
        font-weight: normal; }
      .content .content-wrapper table thead th {
        border: 0 !important;
        border-bottom-width: 1px !important; }
      .content .content-wrapper table .btn {
        padding: 2px 10px;
        font-size: 14px;
        margin-right: 10px; }
      .content .content-wrapper table th.th {
        text-align: left; }
        .content .content-wrapper table th.th input {
          width: 10px;
          min-width: 10px;
          height: 10px;
          margin-right: 10px;
          display: inline-block; }
    .content .content-wrapper .title-h3 {
      width: 100%;
      height: 55px;
      padding: 10px 0 15px; }
      .content .content-wrapper .title-h3 h3 {
        float: left;
        font: 16px/30px "\5FAE\8F6F\96C5\9ED1";
        padding-left: 15px;
        position: relative; }
        .content .content-wrapper .title-h3 h3:before {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          width: 5px;
          height: 20px;
          background-color: #999; }
      .content .content-wrapper .title-h3 button {
        float: right;
        height: 30px;
        padding: 0 15px;
        font: 14px/30px "\5FAE\8F6F\96C5\9ED1"; }
        .content .content-wrapper .title-h3 button i {
          float: left;
          margin: 8px 8px 0 0;
          color: #999;
          font-size: 12px; }
    .content .content-wrapper input, .content .content-wrapper select, .content .content-wrapper .input-group {
      min-width: 60%; }
    .content .content-wrapper ul.step {
      background-color: #fff;
      padding: 0 30px 20px; }
      .content .content-wrapper ul.step li {
        padding: 0 20px;
        margin-top: 20px;
        background-color: #dfdfdf;
        position: relative;
        height: 40px;
        color: #fff;
        font: 16px/40px "\5FAE\8F6F\96C5\9ED1";
        text-align: center; }
        .content .content-wrapper ul.step li:before, .content .content-wrapper ul.step li:after {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          content: '';
          background-color: #dfdfdf; }
        .content .content-wrapper ul.step li.step-left:before {
          left: 0; }
        .content .content-wrapper ul.step li.step-right:after {
          right: 0; }
        .content .content-wrapper ul.step li.active {
          background-color: #4b70c1; }
          .content .content-wrapper ul.step li.active:before, .content .content-wrapper ul.step li.active:after {
            background-color: #4b70c1; }
    .content .content-wrapper .row.row-btn {
      position: relative;
      text-align: right;
      padding-bottom: 30px; }
      .content .content-wrapper .row.row-btn button {
        margin: 30px 0 0 20px; }
    .content .content-wrapper button.file {
      position: relative; }
      .content .content-wrapper button.file i {
        font-size: 12px;
        margin-right: 5px; }
      .content .content-wrapper button.file input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        opacity: 0; }
    .content .content-wrapper .right-title {
      background-color: #fff;
      padding: 15px 30px;
      height: 60px;
      margin-top: 20px;
      border-bottom: 1px solid #ccc; }
      .content .content-wrapper .right-title h3 {
        float: left;
        font: 14px/30px "\5FAE\8F6F\96C5\9ED1"; }
      .content .content-wrapper .right-title .right-ht {
        float: left; }
        .content .content-wrapper .right-title .right-ht span, .content .content-wrapper .right-title .right-ht select, .content .content-wrapper .right-title .right-ht button {
          padding: 0 12px;
          height: 30px;
          display: inline-block; }
        .content .content-wrapper .right-title .right-ht .btn-group {
          width: 20%;
          display: inline-block;
          float: left; }
          .content .content-wrapper .right-title .right-ht .btn-group span, .content .content-wrapper .right-title .right-ht .btn-group select {
            width: 50%;
            min-width: 10px;
            text-align: center;
            font: 12px/30px "\5FAE\8F6F\96C5\9ED1"; }
          .content .content-wrapper .right-title .right-ht .btn-group select {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0; }
        .content .content-wrapper .right-title .right-ht button {
          float: left;
          margin-left: 15px;
          font: 12px/30px "\5FAE\8F6F\96C5\9ED1"; }
      .content .content-wrapper .right-title .btn-operation {
        float: right; }
        .content .content-wrapper .right-title .btn-operation button {
          padding: 0 12px;
          height: 30px;
          display: inline-block;
          margin-left: 10px; }
          .content .content-wrapper .right-title .btn-operation button i {
            margin-right: 5px; }
            .content .content-wrapper .right-title .btn-operation button i:before {
              font-size: 12px; }
    .content .content-wrapper .quanli input {
      width: 20px;
      min-width: 20px; }
    .content .content-wrapper .quanli label {
      float: left;
      margin-right: 10px; }
    .content .content-wrapper .quanli .btn-operation {
      width: 30%; }

.messages {
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 50px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999999; }

.b-lc, .content .content-wrapper ul.step li.step-left:after, .content .content-wrapper ul.step li.step-center:after {
  right: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid #dfdfdf;
  border-bottom: 20px solid #fff; }

.b-lc75, .content .content-wrapper ul.step li.active.step-left:after, .content .content-wrapper ul.step li.active.step-center:after {
  right: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid #4b70c1;
  border-bottom: 20px solid #fff; }

.b-lf, .content .content-wrapper ul.step li.step-center:before, .content .content-wrapper ul.step li.step-right:before {
  left: 0;
  border-top: 20px solid #dfdfdf;
  border-left: 20px solid #fff;
  border-bottom: 20px solid #dfdfdf; }

.b-lf75, .content .content-wrapper ul.step li.active.step-center:before, .content .content-wrapper ul.step li.active.step-right:before {
  left: 0;
  border-top: 20px solid #4b70c1;
  border-left: 20px solid #fff;
  border-bottom: 20px solid #4b70c1; }

.example {
  background-color: #fff;
  text-align: center; }

.row {
  margin: 0; }

label {
  font-weight: normal;
  min-width: 70px;
  text-align: right;
  white-space: nowrap;
  font-weight: normal !important; }

.tl label {
  text-align: left; }

.tl input.form-control {
  width: 160px !important;
  display: inline-block; }

.tl span {
  padding: 0; }

.form-inline {
  padding: 30px;
  background-color: #fff; }
  .form-inline .form-group {
    margin-top: 30px; }
    .form-inline .form-group > i {
      height: 30px;
      font: 12px/30px "\5FAE\8F6F\96C5\9ED1";
      color: #f00; }

.row .form_datetime {
  min-width: 150px !important;
  width: 150px !important; }

.btn span.caret {
  margin-left: 5px; }

.newly-added .row {
  font: 12px/20px "\5FAE\8F6F\96C5\9ED1";
  margin-top: 15px; }
  .newly-added .row span {
    text-align: right; }
  .newly-added .row div label {
    margin-left: 10px; }
    .newly-added .row div label.new-inline {
      margin-top: 10px;
      padding: 0; }
  .newly-added .row div .form-control {
    width: 90%; }
  .newly-added .row.line span, .newly-added .row.line label {
    line-height: 34px;
    display: inline-block; }
  .newly-added .row.line input[type=radio], .newly-added .row.line input[type=checkbox] {
    margin-top: 10px;
    float: left; }
  .newly-added .row.line .add-a {
    padding-left: 0; }
    .newly-added .row.line .add-a .checkbox-inline {
      margin-top: 10px;
      margin-left: 0;
      padding-left: 0; }

.newly-added .modal-footer {
  padding-right: 60px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
  margin: 0; }

.pr10 {
  padding-right: 10px; }

.pl10 {
  padding-left: 10px; }

.ml10 {
  margin-left: 10px; }

.glyphicon {
  margin-right: 5px; }
  .glyphicon:before {
    font-size: 12px; }

.date input {
  padding-left: 30px;
  border-radius: 4px !important; }

.date .input-group-addon {
  position: absolute;
  z-index: 9;
  border: 0;
  background: transparent; }
  .date .input-group-addon .glyphicon {
    top: 2px; }

@media (max-width: 1329px) {
  input[type="text"], select {
    width: 135px !important;
    min-width: 135px !important; }
  .form-group {
    padding: 0 !important; }
  textarea {
    width: 80% !important; }
  .right-title select {
    width: 75px !important;
    min-width: 75px !important; } }

@media (min-width: 1330px) {
  input[type="text"], select {
    width: 50% !important;
    min-width: 50% !important; }
  .input-group.date input {
    width: 100% !important; } }

@media (min-width: 768px) {
  .modal .modal-dialog {
    width: 60%; }
  .cg-added.modal .modal-dialog {
    width: 80%; }
    .cg-added.modal .modal-dialog input, .cg-added.modal .modal-dialog select {
      width: 50%; }
    .cg-added.modal .modal-dialog label {
      width: 115px; }
    .cg-added.modal .modal-dialog textarea {
      width: 80%; } }

@media (max-width: 1380px) {
  .cg-added.modal .modal-dialog input[type="text"], .cg-added.modal .modal-dialog select {
    width: 135px !important;
    min-width: 135px !important; } }
