@import './common';
.show {
    background-image: url('../img/1920_930.jpg');
    background-size: cover;
    background-position: center top;
    overflow: hidden;
//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
//   }
    .swiper {
        padding:50px 0;
        @extend .clearfix;
        overflow: hidden;
        // &.swiper-slide-active {
        //     overflow: visible;
        // }
        .fl {
            float:left;
            width:555px;
            h4 {
                font:22px/34px "微软雅黑";
                background-color: #0ba29a;
                padding: 0 10px;
                color:#262626;
                display: table;
            }
            h5 {
                font:40px/60px "微软雅黑";
                padding: 0 10px;
                color:rgba(0,0,0,.9);
                display: table;
            }
            dl {
                display: block;
                @extend .clearfix;
                dt {
                    float:left;
                }
                dd {
                    float:left;
                    margin-top:36px;
                    margin-left:25px;
                    font:16px/24px "微软雅黑"
                }
            }
        }
        .fr {
            float:right;
            width:815px;
            height:470px;
            position: relative;
            .fr-right {
                width:755px;
                height:470px;
                &::before {
                    content: '';
                    height:470px;
                    background-color: rgba(0,0,0,.4);
                    position: absolute;
                    left:755px;
                    z-index: 2;
                    width:100%;
                }
                img {
                    height:100%;
                    z-index: 1;
                    position: absolute;
                    left:0;
                    top:0;
                }
                
            }            
        }
    }
    .swiper-btn {
        width:50px;
        height:120px;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        display: block;
        background-image: url('../img/100_120.png');
        font-size: 0;
        cursor: pointer;
        z-index: 9;
        &.s-btn-pre {
            background-position: 0 0;
            left:570px;
        }
        &.s-btn-next {
            background-position: -50px 0;
            right:5px;
        }
    }
    ol {
        width:1450px;
        @extend .clearfix;
        li {
            width:120px;
            height:auto;
            overflow: hidden;
            float:left;
            margin-right:10px;
            text-align: center;
            cursor: pointer;
            position: relative;
            &:focus {
                outline: -webkit-focus-ring-color auto 0;
            }
            &::after {
                content: ' ';
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 80px;
                left: 0;
                top: 0;
                box-sizing: border-box;
                border: solid 1px rgba(0, 0, 0, .16);
                pointer-events: none;
                display: none;
            }
            &.swiper-pagination-bullet-active {
                &::after {
                    display: block
                }
            }
            img {
                width:100%;
                height:80px;
                display: block;
            }
            p {
                font:14px/30px "微软雅黑";
                width:100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
.vote {
    overflow: hidden;
    ul {
        width:1460px;
        height:auto;
        overflow: hidden;
        li {
            width:340px;
            margin:25px 25px 0 0;
            background-color: #0ba29a;
            height:auto;
            overflow: hidden;
            padding:20px 0;
            text-align: center;
            float:left;
            img {
                width:305px;
                height:160px;
            }
            h4 {
                color:#141414;
                font:30px/66px "微软雅黑";
                border-bottom: 1px solid #ccc;
            }
            p {
                font:20px/24px "微软雅黑";
                color:#fff;
                padding:10px 0;
            }
            span {
                @extend .sapnBefore;
                &:before {
                    content: '请给我投票';
                }
            }
        }
    }
}