@import './common';
body {
    background-color: #efefef;
}
.step {
    width:1000px;
    @extend .clearfix;
    margin:40px auto 20px;
    li {
        width:160px;
        height:100px;
        margin:20px;
        float:left;
        border:4px solid #3c3c3c;
        text-align: center;
        color:#3c3c3c;
        position: relative;
        overflow: hidden;
        p {
            font:20px/22px "微软雅黑";
            display: block;
            margin-top:5px;
        }
        span {
            display: block;
            position: relative;
            width:100%;
            font:800 80px/60px "黑体";
        }
        h4 {
            width:100%;
            font:18px/22px "微软雅黑";
            background-color: #efefef;
            position: absolute;
            left:0;
            top:50px;
        }
        &.active {
            border-color: #0ba29a;
            background-color: #0ba29a;
            p, span, h4 {
                color:#fff;
            }
            h4 {
                background-color: #0ba29a;
            }
        }
    }
}
.main .main-cont {
    width:1200px;
    min-width: 1200px;
    background-color: #fff;
    padding:40px 0 90px;
    .step-01 {
        padding:0 160px;
        h4 {
            font:600 16px/30px "微软雅黑";
        }
        dl {
            @extend .clearfix;
            dt {
                font:600 20px/30px "微软雅黑";
                padding:15px 0;
            }
            dd {
                font:16px/24px "微软雅黑";
                margin-top:5px;
            }
        }
        & > span {
            display: block;
            font:16px/24px "微软雅黑";
            margin-top:35px;
            a {
                color:#d20000;
            }
        }
       
    }
    .step-03 {
        color:#959595;
        .checkbox {
            color:#959595;
            margin-left:330px;
            input {
                border-color: #959595;
            }
        }
        .input {
            @extend .clearfix;
            margin-top:10px;
            font:14px/30px "微软雅黑";
            margin-left:330px;
            display: table;
            position: relative;
            p {
                display: none;
                &.p-show {
                    display: inline-block;
                }
            }
            label {
                width:110px;
                float:left;
                margin:0;
                font-weight: normal;
                position: relative;
                &::after {
                    content: '*';
                    color:#f00;
                    position: absolute;
                    left:-10px;
                    top:3px;
                    font-size: 12px;
                }
            }
            input {
                height:30px;
                background-color: #f9f9f9;
                border:1px solid #bfbfbf;
                width:410px;
                padding:0 10px;
            }
            span {
                display: inline-block;
                margin-right:20px;
                input {
                    width:120px;
                }
            }
        }
    }
}
.error {
    font:16px/20px "微软雅黑";
    height:20px;
    color:#f00;    
    text-align: center
}
.checkbox {
    font:16px/24px "微软雅黑";
    margin-top:30px;
    color:#d20000;    
    display: table;
    label {
        padding-left:0;
        padding-right: 20px;
    }
    input {
        right:0;
        width:15px;
        height:15px;
        border:1px solid #d20000;
       background-color: #fff;
        -webkit-appearance:none;
        outline: none;
        top:1px;
        &:checked{
            background: url("../img/200_200.png") no-repeat center;
            background-size: 120% 120%;
        }
    }
}
.btn-click {
    span {
        width:180px;
        height:34px;
        text-align: center;
        font:14px/34px "微软雅黑";
        background-color: #0ba29a;
        color:#fff;
        display: block;
        margin:60px auto 0;
        cursor: pointer;
    }
}