@import './common.scss';

.content {
	.content-wrapper {	
        // .right, .copyright {
        //     display:none;
        // }	
        .right .form-inline {
            &:before {
                background-color: transparent;
            }
        }
        .copyright {
            .form-inline {
                &:before {
                    background:transparent
                }
            }
        }
		.form-inline {
			@extend .clearfix;
			padding:0 30px 30px 30px;
			background-color:#fff;
			position: relative;
			&:before {
				content:'';
				display: block;
				height:1px;
				position: absolute;
				left:30px;
				right:30px;
				bottom:0;
				background-color:#ccc;
			}
			.row {
				.form-group {
					padding-right:20px;					
				}	
			}
			button {
				margin-top:30px;
				padding:6px 12px;
			}
			&.form-2 {
				&:before {
					background:transparent;
				}
			}
			&.form-3 {
				margin-top:20px;
				position: relative;
				padding-right:50px;
				i {
					width:20px;
					height:20px;
					position: absolute;
					top:35px;
					right:35px;
					border-radius: 50%;
					overflow: hidden;
					text-align: center;
					font:700 20px/20px "微软雅黑";
					color:#fff;
					background-color:#5cb85c;
					cursor: pointer;
					&.delete {
						background-color:#d9534f;
						right:10px;
					}
				}
			}
        } 
        .file {
            width:270px;
            height:160px;
            background-color:#fbfbfb;
            border:1px dashed #d9d9d9;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            text-align: center;
            color:#666;    
            margin-left:10px;        
            i {
                color:#4fb9f8;
                font-size: 30px;
                margin:50px auto 10px;
            }
            input {
                width:100%;
                height:100%;
                position: absolute;
                left:0;
                top:0;
                z-index: 2;
                opacity: 0;
                cursor: pointer;
            }
        }
	}
}
#gengk-ad {
	.form-inline {
		padding-top:0
	}
}