@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup, i {
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none; }

/* to enable resizing for IE */
input, textarea, select {
  *font-size: 100%; }

/* because legend doesn't inherit in IE */
legend {
  color: #000; }

/* HTML5 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

a {
  color: #333;
  text-decoration: none;
  cursor: pointer; }

a:hover, a:focus {
  color: #333;
  text-decoration: none; }

/* 公共字体 */
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background: rgba(255, 255, 255, 0.8); }

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857143 !important;
  color: #333 !important;
  min-width: 1180px; }

/**
 * 最多显示 $lineCount 行
 * lines
 *
 * example:
 * @include lines;
 * @include lines(3);
 */
/**
 * 浏览器兼容前缀
 *
 * example:
 * @include prefix(transform, scale(2), webkit);
 * @include prefix(transform, scale(2), webkit moz);
 */
/**
 * 仅兼容 webkit 即可
 *
 * example:
 * @include webkit(transform, scale(2));
 */
/**
 * 浏览器兼容 值前缀
 *
 * example:
 * @include prefix-value(display, box);
 */
/**
* 浏览器兼容 值前缀
* 仅兼容 webkit 即可
*
* example:
* @include webkit-value(display, box);
*/
.gradient {
  color: #1f204a;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#00d8ff), to(#442e85));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.hover-shadow {
  -webkit-box-shadow: 0 4px 20px 1px rgba(41, 113, 181, 0.76);
  box-shadow: 0 4px 20px 1px rgba(41, 113, 181, 0.76); }

.els, .li dl dt h5, .latest-activities ul li a p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.img, .player-btn, .waper .waper-cont .cont-right .video span, .li a > span img, footer div dl dd span img, .latest-activities ul li a, .latest-activities ul li a img, .waper .waper-cont .cont-right .video video, .waper.waper-02 ul li img, .waper.waper-03 ul li img, .fixed ul li a {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative; }

.player-btn:before, .waper .waper-cont .cont-right .video span:before {
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: block;
  background-image: url(../img/150_150.png);
  background-size: cover;
  cursor: pointer; }

.before::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 0;
  width: 71px;
  height: 27px;
  background-image: url(../img/71_27.png);
  background-size: cover; }

.p-icons, .li a div span p {
  display: inline-block;
  padding-left: 25px;
  padding-right: 10px;
  position: relative; }
  .p-icons:before, .li a div span p:before {
    content: '';
    width: 21px;
    height: 18px;
    background-image: url(../img/buildimg-icons.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 3px; }
  .p-icons.new-time, .li a div span p.new-time {
    padding-left: 0; }
    .p-icons.new-time:before, .li a div span p.new-time:before {
      background: transparent; }
  .p-icons.pre-time:before, .li a div span p.pre-time:before {
    background-position: 0 0; }
  .p-icons.play-num:before, .li a div span p.play-num:before {
    background-position: 0 -18px; }
  .p-icons.comments:before, .li a div span p.comments:before {
    background-position: 0 -36px; }

/* 清除浮动 */
.clearfix, .header, .header .header-wraper, .li dl, footer, footer div, .latest-activities, .latest-activities ul, .waper ul, .waper .waper-cont, .fixed, .fixed ul {
  zoom: 1; }

.clearfix:after, .header:after, .header .header-wraper:after, .li dl:after, footer:after, footer div:after, .latest-activities:after, .latest-activities ul:after, .waper ul:after, .waper .waper-cont:after, .fixed:after, .fixed ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

* {
  box-sizing: border-box; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px; }

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 6px; }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #cecece; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #cecece; }

.header {
  background-color: #fff; }
  .header .header-wraper {
    width: 1180px;
    margin: 0 auto; }
    .header .header-wraper h1 {
      font-size: 0;
      width: 185px;
      float: left;
      height: 100px;
      background-image: url(../img/160_50.png);
      background-repeat: no-repeat;
      background-position: 25px 30px; }
    .header .header-wraper .head-right {
      float: right;
      padding: 8px 0 18px;
      width: 940px; }
      .header .header-wraper .head-right .header-top {
        text-align: right; }
        .header .header-wraper .head-right .header-top p {
          height: 30px;
          padding: 0 10px;
          background-color: #1f204a;
          border-radius: 20px;
          font: 14px/30px "\5FAE\8F6F\96C5\9ED1";
          display: inline-block;
          color: #fff; }
        .header .header-wraper .head-right .header-top span {
          display: inline-block;
          margin-left: 20px; }
          .header .header-wraper .head-right .header-top span a {
            display: inline-block;
            color: #898989;
            font: 14px/30px "\5FAE\8F6F\96C5\9ED1"; }
      .header .header-wraper .head-right .meun {
        margin-top: 8px; }
        .header .header-wraper .head-right .meun .search {
          width: 180px;
          height: 34px;
          position: relative;
          float: right;
          display: flex;
          flex: 1; }
          .header .header-wraper .head-right .meun .search input {
            width: 100%;
            height: 100%;
            display: block;
            background-color: #f9f9f9;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
            color: #959595;
            font: 16px/32px "\5FAE\8F6F\96C5\9ED1";
            padding: 0 30px 0 10px;
            position: relative;
            z-index: 0; }
          .header .header-wraper .head-right .meun .search i {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 34px;
            z-index: 1;
            padding: 10px 8px;
            cursor: pointer; }
        .header .header-wraper .head-right .meun .nav {
          float: left; }
          .header .header-wraper .head-right .meun .nav li {
            float: left; }
            .header .header-wraper .head-right .meun .nav li a {
              padding: 0 15px;
              color: #535353;
              font: 16px/34px "\5FAE\8F6F\96C5\9ED1";
              text-align: center; }
            .header .header-wraper .head-right .meun .nav li.active a, .header .header-wraper .head-right .meun .nav li:hover a {
              color: #1f204a;
              position: relative;
              background-color: #fff; }
              .header .header-wraper .head-right .meun .nav li.active a:before, .header .header-wraper .head-right .meun .nav li:hover a:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #1f1f1f;
                border-radius: 50%;
                position: absolute;
                left: 5px;
                top: 16px; }

.hover li {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hover li:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }

.tab-nav {
  width: 100%;
  height: 50px;
  background-color: #fff; }
  .tab-nav ul {
    text-align: center;
    display: table;
    margin: 0 auto; }
    .tab-nav ul li {
      float: left;
      padding: 0 50px; }
      .tab-nav ul li a {
        font: 20px/50px "\5FAE\8F6F\96C5\9ED1";
        color: #535353;
        padding: 0;
        position: relative; }
        .tab-nav ul li a:focus, .tab-nav ul li a:hover {
          background: transparent; }

.li {
  width: 50%;
  height: auto;
  padding-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  float: left;
  position: relative; }
  .li::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 20px;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #fff; }
  .li:hover::before {
    -webkit-box-shadow: 0 4px 20px 1px rgba(167, 167, 167, 0.42);
    box-shadow: 0 4px 20px 1px rgba(167, 167, 167, 0.42); }
  .li a > span {
    width: 100%;
    height: 280px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 5px; }
  .li em {
    background-image: -webkit-linear-gradient(top, #00d8ff, #442e85);
    background-image: -moz-linear-gradient(top, #00d8ff, #442e85);
    background-image: -ms-linear-gradient(top, #00d8ff, #442e85);
    background-image: -o-linear-gradient(top, #00d8ff, #442e85);
    background-image: linear-gradient(top, #00d8ff, #442e85);
    width: 66px;
    height: 36px;
    display: none;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font: 20px/36px "\5FAE\8F6F\96C5\9ED1";
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 1; }
  .li dl {
    background-color: #fff;
    padding-top: 10px; }
    .li dl dt {
      width: 100%;
      height: 27px;
      padding: 0 20px;
      position: relative; }
      .li dl dt h5 {
        width: 100%;
        font: 600 18px/27px "\5FAE\8F6F\96C5\9ED1"; }
        .li dl dt h5:hover {
          color: #1296db; }
    .li dl dd {
      font: 16px/24px "\5FAE\8F6F\96C5\9ED1";
      color: #959595;
      padding: 5px 20px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
  .li a div {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin-top: 20px; }
    .li a div span {
      font: 16px/24px "\5FAE\8F6F\96C5\9ED1";
      color: #959595;
      display: inline-block; }
      .li a div span:first-child {
        float: left; }
      .li a div span:last-child {
        float: right; }

footer {
  background-image: url(../img/bj.jpg);
  width: 100%;
  display: table; }
  footer div {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0 50px 40px;
    color: #fff; }
    footer div dl {
      float: left; }
      footer div dl dt {
        font: 600 18px/24px "\5FAE\8F6F\96C5\9ED1";
        padding-bottom: 20px; }
      footer div dl dd {
        font: 16px/24px "\5FAE\8F6F\96C5\9ED1"; }
        footer div dl dd a {
          color: #fff; }
          footer div dl dd a:hover {
            color: #fff; }
        footer div dl dd span {
          width: 92px;
          height: 92px;
          background-color: #fff;
          padding: 5px;
          display: block;
          margin: 20px auto; }
      footer div dl:first-child {
        width: 250px; }
      footer div dl.ewm {
        text-align: center;
        margin-left: 70px; }
  footer > span {
    width: 100%;
    display: block;
    border-top: 1px solid #fff; }
    footer > span a {
      width: 1180px;
      margin: 0 auto;
      text-align: right;
      display: block;
      font: 14px/50px "\5FAE\8F6F\96C5\9ED1";
      color: #fff;
      padding-right: 40px; }
      footer > span a:hover {
        color: #fff; }

header {
  position: absolute;
  width: 100%;
  display: table;
  padding-top: 20px;
  z-index: 99999; }
  header .logo {
    float: left;
    margin-left: 80px; }
    header .logo a {
      width: 185px;
      height: 60px;
      display: block;
      background-image: url(../img/logo.png);
      background-size: cover; }
  header .miscellaneous {
    float: right;
    margin-right: 80px;
    font-size: 0; }
    header .miscellaneous .menus {
      width: 40px;
      height: 28px;
      position: relative;
      cursor: pointer; }
      header .miscellaneous .menus i {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #FFC012;
        position: absolute;
        transition: all .6s ease .2s;
        -webkit-transition: all .6s ease .2s;
        -moz-transition: all .6s ease .2s; }
        header .miscellaneous .menus i.is1 {
          left: 0;
          top: 0; }
          header .miscellaneous .menus i.is1:before, header .miscellaneous .menus i.is1:after {
            position: absolute;
            content: '';
            bottom: -12px;
            width: 40%;
            height: 100%;
            background-color: inherit;
            transition: all .4s ease 0s;
            -webkit-transition: all .4s ease 0s;
            -moz-transition: all .4s ease 0s; }
          header .miscellaneous .menus i.is1:before {
            left: 0; }
          header .miscellaneous .menus i.is1:after {
            right: 0; }
        header .miscellaneous .menus i.is2 {
          left: 0;
          bottom: 0; }
      header .miscellaneous .menus.active i.is1, header .miscellaneous .tab-nav ul li a.menus:hover i.is1, .tab-nav ul li header .miscellaneous a.menus:hover i.is1, header .miscellaneous .tab-nav ul li.active a.menus i.is1, .tab-nav ul li.active header .miscellaneous a.menus i.is1 {
        transform: rotate(45deg) translate3d(8px, 9px, 0);
        -webkit-transform: rotate(45deg) translate3d(8px, 9px, 0);
        -moz-transform: rotate(45deg) translate3d(8px, 9px, 0); }
        header .miscellaneous .menus.active i.is1:before, header .miscellaneous .tab-nav ul li a.menus:hover i.is1:before, .tab-nav ul li header .miscellaneous a.menus:hover i.is1:before, header .miscellaneous .tab-nav ul li.active a.menus i.is1:before, .tab-nav ul li.active header .miscellaneous a.menus i.is1:before {
          transform: translateX(-120%);
          -webkit-transform: translateX(-120%);
          -moz-transform: translateX(-120%);
          opacity: 0; }
        header .miscellaneous .menus.active i.is1:after, header .miscellaneous .tab-nav ul li a.menus:hover i.is1:after, .tab-nav ul li header .miscellaneous a.menus:hover i.is1:after, header .miscellaneous .tab-nav ul li.active a.menus i.is1:after, .tab-nav ul li.active header .miscellaneous a.menus i.is1:after {
          transform: translateX(120%);
          -webkit-transform: translateX(120%);
          -moz-transform: translateX(120%);
          opacity: 0; }
      header .miscellaneous .menus.active i.is2, header .miscellaneous .tab-nav ul li a.menus:hover i.is2, .tab-nav ul li header .miscellaneous a.menus:hover i.is2, header .miscellaneous .tab-nav ul li.active a.menus i.is2, .tab-nav ul li.active header .miscellaneous a.menus i.is2 {
        transform: rotate(-45deg) translate3d(8px, -9px, 0);
        -webkit-transform: rotate(-45deg) translate3d(8px, -9px, 0);
        -moz-transform: rotate(-45deg) translate3d(8px, -9px, 0); }
    header .miscellaneous .stock {
      width: 150px;
      height: 30px;
      margin-right: 112px;
      border: 1px solid #595859;
      text-align: center;
      line-height: 30px; }
      header .miscellaneous .stock font {
        font-size: 15px;
        color: #BAB9BA; }
        header .miscellaneous .stock font i {
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px 0 1px;
          height: 18px;
          border-right: 1px solid #595859; }
    header .miscellaneous .language {
      width: 60px;
      margin-right: 80px;
      font-size: 0;
      cursor: pointer;
      position: relative; }
      header .miscellaneous .language span {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 30px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        transition: height .5s ease 0s;
        -webkit-transition: height .5s ease 0s;
        -moz-transition: height .5s ease 0s; }
        header .miscellaneous .language span a {
          display: inline-block;
          width: 100%;
          margin-bottom: 2px;
          font-size: 14px;
          color: #DEDEDE; }
          header .miscellaneous .language span a:hover {
            color: #FFC012; }
      header .miscellaneous .language:hover span {
        height: 88px; }
      header .miscellaneous .language i {
        float: right;
        display: inline-block;
        margin-top: -7px;
        height: 22px;
        vertical-align: middle;
        font-size: 30px;
        color: #fff; }
    header .miscellaneous .menus, header .miscellaneous .language, header .miscellaneous .stock {
      display: inline-block;
      vertical-align: middle; }

.phoneNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 3%;
  transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  transform: translateX(-120%);
  -webkit-transform: translateX(-120%);
  -moz-transform: translateX(-120%); }
  .phoneNav nav {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0); }
    .phoneNav nav a, .phoneNav nav a:after {
      transition: all 1s ease 0s;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s; }
    .phoneNav nav a {
      display: block;
      width: 100%;
      font-size: 26px;
      color: #fff;
      padding: 1% 0;
      position: relative;
      z-index: 9; }
      .phoneNav nav a:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: #FFC012;
        z-index: -1; }
      .phoneNav nav a:hover {
        color: #000; }
        .phoneNav nav a:hover:after {
          width: 100%; }
  .phoneNav .gb {
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer; }
    .phoneNav .gb:hover span:after {
      width: 100%; }
  .phoneNav span {
    display: inline-block;
    width: 55px;
    height: 1px;
    border-top: 1px solid #8F8F8F;
    position: relative; }
    .phoneNav span.sp1 {
      transform: rotate(45deg) translate3d(20px, 20px, 0);
      -webkit-transform: rotate(45deg) translate3d(20px, 20px, 0);
      -moz-transform: rotate(45deg) translate3d(20px, 20px, 0); }
    .phoneNav span.sp2 {
      transform: rotate(-45deg) translate3d(-8px, 6px, 0);
      -webkit-transform: rotate(-45deg) translate3d(-8px, 6px, 0);
      -moz-transform: rotate(-45deg) translate3d(-8px, 6px, 0); }
    .phoneNav span:after {
      position: absolute;
      content: '';
      left: 0;
      top: -1px;
      width: 0%;
      height: 100%;
      border-top: 1px solid #fff;
      transition: all .8s ease 0s;
      -webkit-transition: all .8s ease 0s;
      -moz-transition: all .8s ease 0s; }
  .phoneNav li {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    opacity: 0; }
    .phoneNav li:nth-of-type(1) {
      transition: all .8s ease 1s;
      -webkit-transition: all .8s ease 1s;
      -moz-transition: all .8s ease 1s; }
    .phoneNav li:nth-of-type(2) {
      transition: all .8s ease 1.15s;
      -webkit-transition: all .8s ease 1.15s;
      -moz-transition: all .8s ease 1.15s; }
    .phoneNav li:nth-of-type(3) {
      transition: all .8s ease 1.3s;
      -webkit-transition: all .8s ease 1.3s;
      -moz-transition: all .8s ease 1.3s; }
    .phoneNav li:nth-of-type(4) {
      transition: all .8s ease 1.45s;
      -webkit-transition: all .8s ease 1.45s;
      -moz-transition: all .8s ease 1.45s; }
    .phoneNav li:nth-of-type(5) {
      transition: all .8s ease 1.6s;
      -webkit-transition: all .8s ease 1.6s;
      -moz-transition: all .8s ease 1.6s; }
    .phoneNav li:nth-of-type(6) {
      transition: all .8s ease 1.75s;
      -webkit-transition: all .8s ease 1.75s;
      -moz-transition: all .8s ease 1.75s; }
    .phoneNav li:nth-of-type(7) {
      transition: all .8s ease 1.9s;
      -webkit-transition: all .8s ease 1.9s;
      -moz-transition: all .8s ease 1.9s; }
  .phoneNav.active, .tab-nav ul li a.phoneNav:hover, .tab-nav ul li.active a.phoneNav {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%); }
    .phoneNav.active li, .tab-nav ul li a.phoneNav:hover li, .tab-nav ul li.active a.phoneNav li {
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      opacity: 1; }

.section {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 1080px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .section.section1 {
    background-image: url(../img/top.jpg);
    position: relative; }
    .section.section1 .totalTit {
      width: 1200px;
      height: 610px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      -webkit-transform: translate(-50%, -50%) scale(0.5);
      z-index: 9999999; }
      .section.section1 .totalTit .waperlines {
        position: absolute;
        left: 0;
        top: 0;
        width: 1200px;
        height: 610px; }
        .section.section1 .totalTit .waperlines .sublines {
          fill: none;
          stroke: rgba(255, 255, 255, 0.5);
          stroke-width: 2px;
          stroke-dasharray: 0,410;
          transition: all 3s ease-in-out 0s;
          -webkit-transition: all 3s ease-in-out 0s;
          -moz-transition: all 3s ease-in-out 0s; }
      .section.section1 .totalTit dl {
        width: 525px;
        height: 320px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        .section.section1 .totalTit dl dt {
          width: 170px;
          height: 205px;
          background-image: url(../img/175_205.png);
          background-size: cover;
          margin: 0 auto; }
        .section.section1 .totalTit dl dd {
          width: 525px;
          height: 55px;
          background-image: url(../img/525_55.png);
          background-size: cover;
          margin-top: 40px; }
      .section.section1 .totalTit.active .waperlines .sublines, .section.section1 .tab-nav ul li a.totalTit:hover .waperlines .sublines, .tab-nav ul li .section.section1 a.totalTit:hover .waperlines .sublines, .section.section1 .tab-nav ul li.active a.totalTit .waperlines .sublines, .tab-nav ul li.active .section.section1 a.totalTit .waperlines .sublines {
        stroke-dasharray: 820,0; }
        .section.section1 .totalTit.active .waperlines .sublines.phonesvg, .section.section1 .tab-nav ul li a.totalTit:hover .waperlines .sublines.phonesvg, .tab-nav ul li .section.section1 a.totalTit:hover .waperlines .sublines.phonesvg, .section.section1 .tab-nav ul li.active a.totalTit .waperlines .sublines.phonesvg, .tab-nav ul li.active .section.section1 a.totalTit .waperlines .sublines.phonesvg {
          display: none; }

.swiper-container a {
  width: 100%;
  height: 500px;
  display: block; }

.latest-activities {
  max-width: 1180px;
  margin: 0 auto; }
  .latest-activities ul {
    width: 100%;
    padding-left: 29px;
    padding-bottom: 25px; }
    .latest-activities ul li {
      padding-right: 29px;
      padding-left: 0;
      height: auto;
      margin-top: 20px;
      border-radius: 8px;
      overflow: hidden; }
      .latest-activities ul li a {
        border-radius: 8px;
        overflow: hidden; }
        .latest-activities ul li a img {
          z-index: 0; }
        .latest-activities ul li a p {
          width: 100%;
          height: 80px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-image: url(../img/356_80.png);
          background-size: cover;
          color: #fff;
          font: 20px/100px "\5FAE\8F6F\96C5\9ED1";
          padding: 0 10px; }

.waper {
  width: 100%;
  height: 659px;
  background-size: cover;
  background-color: #000;
  background-attachment: fixed;
  background-position: center bottom; }
  .waper ul li {
    margin-top: 20px;
    float: left; }
  .waper .waper-cont {
    width: 1180px;
    height: 100%;
    margin: 0 auto; }
    .waper .waper-cont h3 {
      width: 355px;
      height: 100%;
      float: left;
      margin-left: 25px;
      background-repeat: no-repeat;
      background-position: center center; }
      .waper .waper-cont h3.title-01 {
        background-image: url(../img/title_01.png); }
      .waper .waper-cont h3.title-02 {
        background-image: url(../img/title_02.png); }
      .waper .waper-cont h3.title-03 {
        background-image: url(../img/title_03.png); }
      .waper .waper-cont h3.title-04 {
        background-image: url(../img/title_04.png); }
    .waper .waper-cont .cont-right {
      width: 800px;
      float: right; }
      .waper .waper-cont .cont-right .video {
        width: 800px;
        height: 450px;
        position: relative;
        margin-top: 100px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); }
        .waper .waper-cont .cont-right .video span {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2; }
        .waper .waper-cont .cont-right .video video {
          z-index: 0; }
  .waper.waper-01 {
    background-image: url(../img/banner_02.jpg); }
  .waper.waper-02 {
    background-image: url(../img/banner_03.jpg); }
    .waper.waper-02 ul li {
      width: 390px;
      height: 280px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); }
      .waper.waper-02 ul li:first-child {
        width: 800px;
        height: 290px; }
      .waper.waper-02 ul li:last-child {
        margin-left: 20px; }
  .waper.waper-03 {
    background-image: url(../img/banner_04.jpg); }
    .waper.waper-03 ul li {
      width: 185px;
      height: 130px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
      margin-left: 20px; }
      .waper.waper-03 ul li:first-child {
        width: 390px;
        height: 590px;
        margin-left: 0; }
      .waper.waper-03 ul li:nth-child(2) {
        width: 390px;
        height: 290px; }
  .waper.waper-04 {
    background-image: url(../img/banner_05.jpg); }
    .waper.waper-04 dl {
      margin: 140px 0 0 130px;
      font: 18px/24px "\5FAE\8F6F\96C5\9ED1";
      color: #fff; }
      .waper.waper-04 dl dt {
        font-weight: normal;
        display: block;
        float: left;
        margin-top: 55px; }
      .waper.waper-04 dl dd {
        width: 150px;
        height: auto;
        overflow: hidden;
        float: left;
        margin-right: 110px;
        text-align: center; }
        .waper.waper-04 dl dd span {
          width: 150px;
          height: 150px;
          background-color: #fff;
          padding: 6px;
          display: block; }
        .waper.waper-04 dl dd p {
          margin-top: 25px; }

.fixed {
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  background-color: #fff;
  display: none; }
  .fixed ul li {
    border: 1px solid #000;
    width: 100%;
    height: 98px; }
    .fixed ul li a {
      background-image: url(../img/65_260.png);
      background-repeat: no-repeat; }
      .fixed ul li a.wechat {
        background-position: 20px 20px; }
      .fixed ul li a.iphone {
        background-position: 20px -80px; }
      .fixed ul li a.map {
        background-position: 20px -178px; }

@media only screen and (max-device-width: 1600px) {
  header .miscellaneous .stock {
    margin-right: 150px; }
  div.phoneNav nav a {
    padding: 0.5% 0;
    font-size: 16px; }
  .history, div.phoneNav .gb {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7); } }

@media only screen and (max-device-width: 768px) {
  div.phoneNav nav a {
    padding: 2.5% 0; }
  .langpho {
    display: block; }
  #fp-nav {
    display: none; }
  header .miscellaneous .stock {
    display: none; }
  .totalTit {
    width: 600px; }
    .totalTit .waperlines {
      width: 100%; }
    .totalTit.acitve .waperlines .sublines.pcsvg {
      display: none; }
    .totalTit.acitve .waperlines .sublines.phonesvg {
      display: block !important; } }

@media only screen and (max-device-width: 420px) {
  header .logo {
    margin-left: 10px; }
  header .miscellaneous {
    margin-right: 10px; }
  .head-right {
    display: none; }
  .fixed {
    display: none; } }
