@import './common.scss';
.content-wrapper {
	.row {
		margin:0;
		background-color:#fff;
		padding:10px;
		.panel {
			margin:0;
			.panel-body {
				height:300px;
				padding:0 10px 10px;
			}
		}
			
	}
	.table-responsive {
		margin-top:20px;
		padding:10px;
		background:#fff;
		h3 {
			width:100%;
			height:50px;
			line-height:50px;
			border-bottom:1px solid #ccc;
			a {
				float:right;

			}
		}
	}

}