<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<title>大地</title>
</head>
<body>
<!--header start-->
<div id="header" class="header">
	<div class="container-fluid">
		
	</div>
</div>
<!--header end-->
<!--sidebar start-->
<%= require('html-loader!./sidebar.html') %>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content contractAdd">
	<div class="content-wrapper">
		<h3>大地传播</h3>
		<ul class="step st-li">
			<li class=" step-left active">1.基础信息</li>
			<li class=" step-center ">2.签订信息</li>
			<li class=" step-center ">3.合同签约方</li>
			<li class=" step-center ">4.权利信息</li>
			<li class=" step-right ">5.附件信息</li>
		</ul>
		<!--基础信息 start-->
		<div class="basics main" data-id="1">
			<form class="form-inline">
				<div class="row col-md-12 col-lg-12">
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">合同编号</label>
						<input type="text" class="form-control" id="" placeholder="">
						<i>*</i>
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">合同主体</label>
						<input type="text" class="form-control" id="" placeholder="">
						<i>*</i>
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputEmail2">呈文部门</label>
						<input type="text" class="form-control" id="" placeholder="">
						<i>*</i>
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">合同名称</label>
						<input type="text" class="form-control" id="" placeholder="">
						<i>*</i>
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">合同金额</label>
						<input type="text" class="form-control" id="" placeholder="">
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputEmail2">签约日期</label>
						<div class='input-group date' id='datetimepicker1'>  
							<input type='text' class="form-control" />  
							<span class="input-group-addon">  
								<span class="glyphicon glyphicon-calendar"></span>  
							</span>  
						</div> 
						<i>*</i>
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">生效日期</label>
						<div class='input-group date' id='datetimepicker2'>  
							<input type='text' class="form-control" />  
							<span class="input-group-addon">  
								<span class="glyphicon glyphicon-calendar"></span>  
							</span>  
						</div> 
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputName2">失效日期</label>
						<div class='input-group date' id='datetimepicker3'>  
							<input type='text' class="form-control" />  
							<span class="input-group-addon">  
								<span class="glyphicon glyphicon-calendar"></span>  
							</span>  
						</div> 
					</div>
					<div class="form-group col-md-4 col-lg-4">
						<label for="exampleInputEmail2">有效期</label>
						<div class='input-group date' id='datetimepicker4'>  
							<input type='text' class="form-control" />  
							<span class="input-group-addon">  
								<span class="glyphicon glyphicon-calendar"></span>  
							</span>  
						</div> 
					</div>
					<div class="form-group col-md-12 col-lg-12">
						<label for="exampleInputEmail2">合同备注</label>
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>			
			</form>
			<div class="row row-btn col-md-pull-1">				
				<!-- <button type="button" class="btn btn-default">重置</button> -->
				<button type="button" class="btn btn-primary next-step">下一步</button>
			</div>			
		</div>
		<!--基础信息 end-->
		<!--签订信息 start-->
		<div class="sign main" data-id="2">
			<div class="form-inline form-2 button-mt0 mt10">
				<div class="right-title m0 p0">
					<h3 class="col-md-2 col-lg-2 mt10">签订列表</h3>
					<div class="pull-right col-md-4 col-lg-4 mt10">					
						<div class="btn-operation">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gengk-added"><i class="glyphicon glyphicon-plus"></i>新增</button>
							<button type="button" class="btn btn-default">删除</button>					
						</div>
					</div>				
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="th"><input type="checkbox" name="">节目(作品)名称</th>
							<th>集数/期数</th>
							<th>单集价格</th>
							<th>支付方式</th>
							<th>支付计划</th>
							<th>交付标准及方式</th>
							<th>委托内容</th>
							<th>合同备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="th" scope="row"><input type="checkbox" name="">XXX作品</th>
							<td>5</td>
							<td>100元</td>
							<td>XXX支付</td>
							<td>XXX</td>
							<td>XXX</td>
							<td>XXXXX</td>
							<td>这里是合同备注</td>
							<td><button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-pencil"></i>修改</button></td>
						</tr>
					</tbody>
				</table>
				<div id="example" class="example">
					<ul id="pageLimit3"></ul>
				</div>
			</div>			
			<div class="row row-btn col-md-pull-1">				
				<!-- <button type="button" class="btn btn-default">重置</button> -->
				<button type="button" class="btn btn-primary next-step">下一步</button>
			</div>	
		</div>
		<!--签订信息 end-->
		<!--合同签约方 start-->
		<div class="contract-party main" data-id="3">
			<div class="form-inline form-2 button-mt0 mt10">
				<div class="right-title m0 p0">
					<h3 class="col-md-3 col-lg-3 mt10">合同签约方信息列表</h3>
					<div class="pull-right col-md-4 col-lg-4 mt10">					
						<div class="btn-operation">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gengk-added1"><i class="glyphicon glyphicon-plus"></i>新增</button>
							<button type="button" class="btn btn-default">删除</button>					
						</div>
					</div>				
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="th"><input type="checkbox" name="">签约方</th>
							<th>签约方类型</th>
							<th>签约方名称</th>
							<th>签约方电话</th>
							<th>签约方联系人</th>
							<th>签约方地址</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="th" scope="row"><input type="checkbox" name="">XX签约方</th>
							<td>XXX</td>
							<td>XXX</td>
							<td>13456789064</td>
							<td>XXX</td>
							<td>这里是签约方地址这里是签约方地址</td>
							<td><button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-pencil"></i>修改</button></td>
						</tr>
					</tbody>
				</table>
				<div id="example" class="example">
					<ul id="pageLimit3"></ul>
				</div>
			</div>	
					
			<div class="row row-btn col-md-pull-1">				
				<!-- <button type="button" class="btn btn-default">重置</button> -->
				<button type="button" class="btn btn-primary next-step">下一步</button>
			</div>	
		</div>
		<!--合同签约方 end-->
		<!--权利信息 start-->
		<div class="contract-a main" data-id="4">
			<div class="right-title m0 p0">
				<h3 class="col-md-2 col-lg-2 mt10"></h3>
				<div class="pull-right col-md-4 col-lg-4 mt10">					
					<div class="btn-operation">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newly-added"><i class="glyphicon glyphicon-plus"></i>新增</button>
						<!-- <button type="button" class="btn btn-default">删除</button>					 -->
					</div>
				</div>				
			</div>
			<div class="row-cont">
				<div class="table-cont">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>拥有权利内容</th>
								<th>我方权利比重</th>
								<th>是否专有</th>
								<th>有无维权权利</th>
								<th>有无转授权权利</th>
								<th>有无合同</th>
								<th>权利类型</th>
								<th>授权许可使用方式</th>
								<th>授权许可使用渠道</th>
								<th>授权许可使用地域</th>
								<th>授权许可使用次数</th>
								<th>授权许可使用语言</th>
								<th>授权许可使用开始日期</th>
								<th>授权许可使用结束日期</th>
								<th>合同权利描述</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody class="qlnews">
							<tr> 
								<td scope="row">这里是内容</td>
								<td>20%</td> 
								<td>是</td> 
								<td>有</td> 
								<td>有</td> 
								<td>有</td> 
								<td>复制权</td> 
								<td>无限制</td> 
								<td>无限制</td> 
								<td>无限制</td> 
								<td>1</td> 
								<td>中文</td> 
								<td>1990-10-22</td> 
								<td>1990-10-22</td> 
								<td>这里是描述这里是描述</td> 
								<td>备注备注备注备注备注备注备注备注备注</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row row-btn col-md-pull-1">				
				<!-- <button type="button" class="btn btn-default">重置</button> -->
				<button type="button" class="btn btn-primary next-step">下一步</button>
			</div>
		</div>

		<!--权利信息 end-->
		<!--授权设置 start-->
		<div class="set-up main">
			<div class="right-title">
				<h3 class="col-md-2 col-lg-2">合同采购信息</h3>
				<div class="right-ht col-md-10 col-lg-10">				
					<div class="btn-operation">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#file-added"><i class="glyphicon glyphicon-plus"></i>上传附件</button>
						<button type="button" class="btn btn-default">删除</button>					
					</div>
				</div>				
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="th"><input type="checkbox" name="">序号</th>
						<th>附件名称</th>
						<th>附件类型</th>
						<th>附件大小</th>
						<th>上传日期</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="th" scope="row"><input type="checkbox" name="">1</th>
						<td>音乐作品登记</td>
						<td>JPG</td>
						<td>10.23MB</td>
						<td>2018-12-23 10:55</td>
						<td>备注备注备注备注备注备注备注备注备注</td>
					</tr>
				</tbody>
			</table>
			<div id="example" class="example">
				<ul id="pageLimit1"></ul>
			</div>
			
			<div class="row row-btn col-md-pull-1">				
				<!-- <button type="button" class="btn btn-default">重置</button> -->
				<button type="button" class="btn btn-primary">完成</button>
			</div>	
		</div>
		<!--授权设置 end-->
	</div>
</div>
<!--file-->
<div class="modal fade" style="display:blo0ck" id="file-added" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
				<div id="easyContainer"></div>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" style="display:blo6ck" id="gengk-added" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline">
					<div class="row col-md-12 col-lg-12">
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">节目(作品)名称</label>
							<input type="text" class="form-control" id="" placeholder="">
							<i></i>
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">集数/期数</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputEmail2">单集价格</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">支付方式</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">支付计划</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-sm-12 col-md-12 col-lg-12">
							<label for="exampleInputEmail2">交付标准及方式</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group col-sm-12 col-md-12 col-lg-12">
							<label for="exampleInputEmail2">委托内容</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group col-sm-12 col-md-12 col-lg-12">
							<label for="exampleInputEmail2">合同备注</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" style="display:bock" id="gengk-added1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline">
					<div class="row col-md-12 col-lg-12">
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">签约方</label>
							<select class="form-control">
								<option>有</option>
								<option>无</option>
							</select>
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">签约方类型</label>
							<select class="form-control">
								<option>有</option>
								<option>无</option>
							</select>
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputEmail2">签约方名称</label>
							<input type="text" class="form-control" id="" placeholder="">
							<i></i>
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">签约方电话</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">签约方联系人</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group col-md-12 col-lg-12">
							<label for="exampleInputEmail2">签约方地址</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
				</form>	
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<%= require('html-loader!./modal-newly-added.html') %>
</body>
</html>