<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<title>大地-域名信息管理</title>
</head>
<body>
<!--header start-->
<div id="header" class="header">
	<div class="container-fluid">
		
	</div>
</div>
<!--header end-->
<!--sidebar start-->
<%= require('html-loader!./sidebar.html') %>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content contractAdd">
	<div class="content-wrapper">
        <h3>大地传播</h3>
        <div class="right-title">
            <h3 class="col-md-2 col-lg-2">域名信息管理</h3>
            <div class="right-ht col-md-10 col-lg-10">					
                <div class="btn-operation">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gengk-added"><i class="glyphicon glyphicon-plus"></i>新增</button>
                </div>
            </div>				
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="th">序号</th>
                    <th>域名地址</th>
                    <th>所有者</th>
                    <th>所有者联系邮箱</th>
                    <th>注册商</th>
                    <th>注册日期</th>
                    <th>到期日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="management-list">
            </tbody>
        </table>
        <div id="example" class="example">
            <ul id="pageLimit"></ul>
        </div>
    </div>
</div>
<div class="messages"></div>
<!-- 模态框（Modal） -->
<div class="modal fade proRiht" style="display:bock" id="gengk-added" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
                <!-- <div class="form-group col-md-12 col-lg-12 sel">
                    <label for="exampleInputName2">申请进度</label>
                    <select class="form-control">
                        <option>有</option>
                        <option>无</option>
                    </select>
                </div> -->
				<div class="row bcf">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">域名信息</a></li>
                        <li><a href="#wz" data-toggle="tab">域名附件</a></li>
                    </ul>
                </div>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <form class="form-inline">
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">合同名称</label>
                                <input type="text" class="form-control" id="contract_id" placeholder="" data-toggle="modal" data-target="#modal-choiceContracts">
                            </div>
                            <!-- <div class="form-group col-md-4 col-lg-4">
                                    <label for="exampleInputName2">合同金额</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div> -->
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">域名地址</label>
                                <input type="text" class="form-control" id="realmname_address" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                    <label for="exampleInputName2">所有者</label>
                                <input type="text" class="form-control" id="owner" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">所有者邮箱 </label>
                                <input type="text" class="form-control" id="owner_email" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">注册商</label>
                                <input type="text" class="form-control" id="registrar" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">注册日期</label>
                                <div class='input-group date' id='regist_date'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">到期日期</label>
                                <div class='input-group date' id='end_date'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">费用</label>
                                <input type="text" class="form-control" id="cost" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">域名状态</label>
                                <select class="form-control" id="realm_status">
                                    <option value="有">有</option>
                                    <option value="无">无</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">DNS服务器</label>
                                <input type="text" class="form-control" id="dns_server" placeholder="">
                            </div>
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="exampleInputName2">备注 </label>
                                <textarea class="form-control" style="width:80%" rows="3" id="remarks"></textarea>
                            </div>
                        </form>                        
                    </div>
                    <div class="tab-pane fade" id="wz">
                        <div class="right-title">
                            <div class="right-ht col-md-12 col-lg-12">				
                                <div class="btn-operation" style="text-align: right;padding:20px;">
                                    <button type="button" class="btn btn-primary" id="btn-added" data-class="manage-file"><i class="glyphicon glyphicon-plus"></i>上传附件</button>
                                </div>
                            </div>				
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <!-- <th class="th">序号</th> -->
                                    <th>附件名称</th>
                                    <th>附件类型</th>
                                    <th>附件大小</th>
                                    <th>上传日期</th>
                                    <th>上传人</th>
                                    <th>最后修改日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="manage-file">
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary btn-xz-qr">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!--合同详情-->
<%= require('html-loader!./include/modal-detailsContract.html') %>
<!--选择合同-->
<%= require('html-loader!./include/modal-choiceContracts.html') %>
<!--创建合同-->
<%= require('html-loader!./include/modal-createContract.html') %>
<!--合同签约方-->
<%= require('html-loader!./include/modal-signatoryInformation.html') %>
<!--权利信息新增-->
<%= require('html-loader!./include/modal-newly-added1.html') %>

</body>
</html>