<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<title>大地-权利信息设置</title>
</head>
<body>
<!--header start-->
<div id="header" class="header">
	<div class="container-fluid"></div>
</div>
<!--header end-->
<!--sidebar start-->
<%= require('html-loader!./sidebar.html') %>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content">
	<div class="content-wrapper">
		<h3>大地传播</h3>
		<div class="title-h3"><h3>权利信息设置</h3></div>
		<div class="row col-md-5 col-lg-5">
			<div class="row row-title">
				<h6>权利组</h6>
				<ul>
					<li data-toggle="modal" data-target="#modal-newly-added3">添加</li>
					<li data-toggle="modal" data-target="#modal-system-right-edit">编辑</li>
					<li>删除</li>
				</ul>
				<div class="input-group">
					<input type="text" class="form-control" id="ht-name" placeholder="">
					<span class="input-group-btn">
						<button class="btn btn-default btn-ht" type="button">搜索</button>
					</span>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="th"><input type="checkbox" name="">权利组名</th>
						<th>备注</th>
						<th>操作时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="th" scope="row"><input type="checkbox" name="">张三</th>
						<td>无限制</td>
						<td>2018-12-21 12:11</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row col-md-7 col-lg-7" style="padding-left:10px;">
			<div class="row row-title">
				<h6>权利组权利</h6>
				<ul>
					<li data-toggle="modal" data-target="#modal-newly-added3">添加</li>
					<li data-toggle="modal" data-target="#modal-system-right-edit">编辑</li>
					<li>删除</li>
				</ul>
				<div class="input-group">
					<input type="text" class="form-control" id="ht-name" placeholder="">
					<span class="input-group-btn">
						<button class="btn btn-default btn-ht" type="button">搜索</button>
					</span>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="th"><input type="checkbox" name="">授权限制</th>
						<th>授权类型</th>
						<th>许可传播方式</th>
						<th>许可使用地域</th>
						<th>许可使用语言</th>
						<th>许可使用次数</th>
						<th>开始日期</th>
						<th>结束日期</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="th" scope="row"><input type="checkbox" name="">张三</th>
						<td>无限制</td>
						<td>无限制</td>
						<td>无限制</td>
						<td>无限制</td>
						<td>无限制</td>
						<td>2018-12-21 12:11</td>
						<td>2018-12-21 12:11</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--添加-->
<%= require('html-loader!./include/modal-newly-added3.html') %>
<!--编辑-->
<%= require('html-loader!./include/modal-system-right-edit.html') %>
</body>
</html>